#info_admin
{
  transition-duration: 0.3s;
  border: 1px solid rgba(80,80,80,0.8);
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(10,10,10,0.9) inset;
  padding: 7px;
}

#info_admin:hover
{
  transition-duration: 0.3s;
  border: 1px solid rgb(80,80,80);
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgb(0,0,0) inset;
  padding: 7px;
}

aside
{
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#error_h2
{
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  border-radius: 7px;
  margin: 10px;
  text-align: center;
}

.form
{
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  border-radius: 7px;
  margin: 10px;
}

.content_info_admin
{
  display: flex;
  flex-wrap: wrap;
}

.admin_info
{
  transition-duration: 0.2s;
  background-color: rgba(155,155,155,0.85);
  border: 1px solid rgba(155,155,155,0.85);
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgb(80,80,80);
  padding: 15px;
  margin: 10px;
  width: 270px;
}

.paiement_connection_info_admin
{
  width: 380px;
}

.connection_info_admin, .button_edit_admin
{
  transition-duration: 0.2s;
  background-color: rgba(155,155,155,0.85);
  border: 1px solid rgba(155,155,155,0.85);
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgb(80,80,80);
  padding: 15px;
  margin: 10px;
}

.admin_info,.connection_info_admin
{
  padding-bottom: 0px;
}

.button_edit_admin
{
  margin-top: 20px;
}

.button_edit_admin
{
  display:flex;
  justify-content: space-between;
}

input[type=submit],input[type=reset]
{
  width: 48%;
}

section:hover
{
  transition-duration: 0.2s;
  background-color: rgba(169, 169, 169, 0.85);
})

#except_h2
{
  margin: 0px;
}

h2, h3
{
  margin: 0px;
}

body
{
    background: url("ressources/images/fond_5.jpg") no-repeat fixed;
    background-size: 100%;
}
