#info_user
{
  transition-duration: 0.3s;
  border: 1px solid rgba(80,80,80,0.8);
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(10,10,10,0.9) inset;
  padding: 7px;
}

#info_user:hover
{
  transition-duration: 0.3s;
  border: 1px solid rgb(80,80,80);
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgb(0,0,0) inset;
  padding: 7px;
}

body
{
  background: url("ressources/images/fond_1.jpg") no-repeat fixed;
}

aside
{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.user_info, .home_info
{
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  border-radius: 7px;
  margin: 10px;
  min-width: 270px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paiement_info, .connection_info, .button_edit
{
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  border-radius: 7px;
  margin: 10px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connection_info, .button_edit
{
  margin-top: 20px;
}

#child_content_user_info,#child_content_home_info
{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button_edit
{
  text-align: center;
}

h3
{
  margin: 0px;
}
