.ju_section
{
    display: flex;
    justify-content: center;
    background-color: rgba(229,229, 229, 0.75);
    padding: 15px;
    border-radius: 7px;
    margin: 100px auto 120px auto;
    width: 500px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.ju_button
{
    width:200px ;
    height:50px;
}
