#messaging_user
{
  transition-duration: 0.3s;
  border: 1px solid rgba(80,80,80,0.8);
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(10,10,10,0.9) inset;
  padding: 7px;
}

#messaging_user:hover
{
  transition-duration: 0.3s;
  border: 1px solid rgb(80,80,80);
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgb(0,0,0) inset;
  padding: 7px;
}

#messaging_admin
{
  transition-duration: 0.3s;
  border: 1px solid rgba(80,80,80,0.8);
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(10,10,10,0.9) inset;
  padding: 7px;
}

#messaging_admin:hover
{
  transition-duration: 0.3s;
  border: 1px solid rgb(80,80,80);
  border-radius: 10px;
  box-shadow: 0px 2px 20px rgb(0,0,0) inset;
  padding: 7px;

body
{
  background: url("ressources/images/fond_7.jpg") no-repeat fixed;
}

aside
{
  margin: 10px 10px 10px 0px;
}

.content
{
  display: flex;
}

.menu_messaging
{
  display: flex;
  flex-direction: column;
  height: 330px;
}

.bloc_new_mail,.bloc_menu,.bloc_action
{
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  width: 220px;
  border-radius: 0px 7px 7px 0px;
  margin: 10px 10px 10px 0px;
}

.bloc_new_mail,.bloc_menu
{
  text-align: center;
}


.bloc_action ul
{
  margin: 10px 0px 0px 0px;
  padding-left: 0px;
  list-style-type: none;
}

h3
{
  margin: 0px;
}

.mailbox
{
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  border-radius: 7px;
  margin: 10px;
  width: 1200px;
}

.content_mailbox
{
  height: 450px;
}

table
{
  border-collapse: collapse;
  margin: 10px;
  width: 800px;
}

.unread:not(.tr_vide)
{
  transition-duration: 0.3s;
  background-color: rgba(155, 155, 155, 0.85);
  box-shadow: 3px 3px 8px rgb(80,80,80);
}

.read:not(.tr_vide)
{
  transition-duration: 0.3s;
  background-color: rgba(210, 210, 210, 0.85);
  box-shadow: 3px 3px 8px rgb(80,80,80);
}

table
{
  width: 1000px;
}

tr
{
  width: 1000px;
  height: 50px;
}

.read:hover,.unread:hover
{
  transition-duration: 0.3s;
  background-color: rgba(185, 185, 185, 0.85);
}

td:first-child
{
  width: 30px;
}

.tr_vide
{
  height: 20px;
}

.mail_bottom
{
  text-align: center;
}

.button_space
{
  margin-bottom: 7px;
}

button,input
{
  width: 100%;
}

.bloc_menu a, td a
{
  transition-duration: 0.3s;
  text-decoration: none;
  color: rgba(0,0,0,0.95);
}

.bloc_menu a:visited
{
  transition-duration: 0.3s;
  color: rgba(0,0,0,0.75);
}

.bloc_menu a:hover
{
  transition-duration: 0.3s;
  color: rgba(0,0,0,0.75);
  letter-spacing: 0.3px;
}

td a:hover
{
  transition-duration: 0.3s;
  color: rgba(0,0,0,0.75);
}

.except_h2
{
  padding: 100px 0px 0px 0px;
  text-align: center;
}
