aside
{
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.notif_admin
{
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  border-radius: 7px;
  margin: 10px auto 10px auto;
  width: 500px;
  height : 250px;
}

.button_edit
{
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 7px;
  margin: 10px auto 10px auto;
  width: 500px;
  text-align: center;
}
