@font-face {
  font-family: 'gr-med';
  src: url('fonts/GothamRnd-Medium.otf');
}


@font-face {
  font-family: 'gr-book';
  src: url('fonts/GothamRnd-Book.otf');
}

html
{
  height : 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}

.corps
{
  font-family: 'gr-book';
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-image:url("maison_entreprise.jpg");
  background-attachment: fixed;
  overflow:auto;
}


#content
{
  padding-bottom: 200px;
  margin: auto;
  position: relative;
}

/*****************************************************************MENU***********************************************************************/

.menu
{
  list-style: none;
  background-color: rgb(210, 0, 0);
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  height: 10%;
  /*border: 5px solid green;
  */
}

.menu_elements
{
  list-style: none;
  text-align: center;
  margin-right: 2.5%;
  vertical-align: middle;
  /*border: 5px solid green;
  */
}

.text_menu
{
  text-decoration: none;
  color: white;
  font-family: 'gr-book';
  /*border: 5px solid green;
  */
}

.logo_menu
{
  margin-left: 10px;
  margin-right: 10px;
  /*border: 5px solid yellow;*/
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

}

/******************************************************************MENU PRODUITS*************************************************************/

.menu_products
{
  list-style: none;
  background-color: rgb(69,69,69);
  display: flex;
  margin: 0;
  padding: 13px;
  padding-left: 60px;
  /*border: 5px solid yellow;
*/
}

.text_menu_products
{
  text-decoration: none;
  color: white;
  font-family: 'gr-book';
  /*border: 5px solid blue;
  */
}

.menu_products_elements
{
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
  /*border: 5px solid green;
*/
}

/******************************************************************FOOTER *******************************************************************/
.footer
{
  background-color: rgb(48,48,48);
  list-style: none;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom:0;
  height:150px;
  width: 100%;
  margin:auto;

}

.footer_elements
{
  list-style: none;
  text-align: center;
  color: white;
  /*margin: 2.5%;*/
}

.map
{
  width: 25%;
}

/******************************************************************ENCADRE**********************************************************************/


article
{
  list-style: none;
  text-align: justify;
  text-indent: 10px;
  background-color: rgba(155, 155, 155, 0.85);
  padding: 25px;
  margin:25px;
  border-width: 1px;
  border-color: rgba(155,155,155,0.85);
  border-style: solid;
  border-radius: 15px;
  /*box-shadow: 1px 1px 1px grey inset;*/
}

section
{
  /*width: 80%;
  height: 80%;*/
  background-color: rgba(229,229, 229, 0.75);
  padding: 15px;
  margin:25px;
  border-width: 1px;
  border-color: rgba(229,229,229,0.75);
  border-style: solid;
  border-radius: 15px;
}
/************************************************************************ABOUT_US**********************************************************************/

.content_about_us
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.element_about_us
{
  list-style: none;
  margin:auto;
}
/************************************************************************PDRODUCTS**********************************************************************/
.ehome
{
  color: rgb(200,0,0);
}

.element_products
{
  list-style-type: disc;
}

.titre
{
    color: rgb(200,0,0);
}

.products
{
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
  /*align-items: center;*/

}

/************************************************************************JOIN**********************************************************************/

/************************************************************************CONNEXION**********************************************************************/

/************************************************************************HOME**********************************************************************/

.content_home
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}


/************************************************************FORMULAIRE********************************************************************/
textarea
{
  font-variant: 'gr-book';
  font-size: 100%;
  border: 1px solid rgba(200,0,0,0.85);
  border-radius: 4px;
  padding: 10px 10px;
}

button
{
  font-variant: 'gr-book';
  font-size: 100%;
  border: 1px solid rgba(200,0,0,0.85);
  border-radius: 2px;
  padding: 10px 10px;
}

input
{
  font-variant: 'gr-book';
  font-size: 100%;
  border: 1px solid rgba(200,0,0,0.85);
  border-radius: 4px;
  padding: 10px 10px;
}

input[type=text] {
  color: black;
}

input[type=submit] {
  background-color: rgba(200, 0, 0, 0.85);
  color: white;
}
input[type=reset] {
  background-color: rgba(200, 0, 0, 0.85);
  color: white;
}

.bouton_connexion
{
  text-align: right;
}
.bouton
{
 text-align: center;
}

select
{
  font-variant: 'gr-book';
  font-size: 100%;
  border: 1px solid rgba(155,155,155,0.85);
  border-radius: 4px;
  padding: 10px 10px;
}

label
{
  font-variant: 'gr-book';
  font-size: 100%;
}


fieldset
{
  text-align: justify;
  text-indent: 10px;
  border-radius: 2px;
  border: 1px solid rgba(229,229,229,0.75);
}

.lien
{
  color: rgb(200,0,0);
}
